<!DOCTYPE html>
<html>
  <head>
    <title>
      Login Page
    </title>
  </head>

  <body>
    <h3>{{message}}</h3>
    <form action = "/authenticate/" method = "POST">
      Enter your username and password: <br>
      Username and password must be three or more characters. Nothing stupid. <br>
      Username: <input type = "text" name = "user"><br>
      Password: <input type = "password" name = "pass"><br>
      <input type = "submit" name = "login" value = "Login">
      <input type = "submit" name = "register" value = "Register">
    </form>
  </body>
</html>

    
